@zandd:registry=http://192.168.129.196:8081/repository/zandd-npm-hosted/
registry=http://192.168.129.196:8081/repository/zandd-npm-proxy/
email=decaan@zandd.eu
//192.168.129.196:8081/repository/zandd-npm-hosted/:_auth=ZGVjYWFuOlN0YWFsd2VyazI1 
//192.168.129.196:8081/repository/zandd-npm-proxy/